<template>
  <el-container>
    <el-card>
      <el-row>
        <el-col :xs="24">
          <el-form ref="form" class="p-3" label-width="120px" style="background-color: #fff">
            <el-form-item label="Турнир">
              <el-select v-model="league" placeholder="Выберите турнир">
                <el-option
                    v-for="item in myLeagues"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="Сезон">
              <el-select v-model="season" placeholder="Выберите сезон">
                <el-option
                    v-for="item in seasons"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="Тип этапа">
              <el-select v-model="type" placeholder="Выберите">
                <el-option
                    v-for="item in types"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="Название">
              <el-input v-model="name" placeholder="Название этапа"/>
            </el-form-item>
            <el-button type="primary" @click="create">Создать</el-button>
          </el-form>
        </el-col>
        <el-col :xs="24">
          <h5>Этапы:</h5>
          <el-table
              :data="stages"
              style="width: 100%">
            <el-table-column
                label="#"
                type="index"/>
            <el-table-column
                label="Имя"
                prop="name"
                width="200">
            </el-table-column>
            <el-table-column
                label="Тип"
                prop="type"
                width="100"/>
          </el-table>
        </el-col>
      </el-row>
    </el-card>
  </el-container>
</template>

<script>

import {mapActions, mapGetters} from "vuex";

export default {
  data() {
    return {
      types: [
        {
          id: 0,
          name: 'Круговая',
        },
        {
          id: 1,
          name: 'Групповой этап',
        },
        {
          id: 2,
          name: 'Плей-офф',
        },
      ],
      stages: [],
      league: null,
      season: null,
      type: null,
      name: null,
    }
  },
  computed: {
    ...mapGetters(['myLeagues']),
    seasons() {
      if (!this.league) {
        return [];
      }

      return this.myLeagues.find(item => item.id === this.league).seasons
    }
  },
  mounted() {
    this.getMyLeagues()
  },
  watch: {
    season() {
      this.$http.get(`/seasons/${this.season}/stages`).then(({data}) => {
        this.stages = data.data;
      }).catch(e => console.error(e))
    }
  },
  methods: {
    ...mapActions(['getMyLeagues']),
    create() {
      this.$http.post(`/seasons/${this.season}/stages`, {
        type: this.type,
        name: this.name,
      }).then(() => {
        this.$message({
          message: 'Этап успешно создан',
          type: 'success'
        });
      }).catch(error => {
        this.$message({
          message: JSON.parse(error.request.response).message,
          type: 'error'
        });
      })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
