<template>
	<router-link id="sidebar-logo" to="/">
		<transition name="fade" mode="out-in">
      <img src="../../../assets/logo.png" alt="">
			<span v-if="sidebarOpen" id="sidebar-logo-text">{{ appTitle }}</span>
		</transition>
	</router-link>
</template>

<script>
	import {mapGetters} from 'vuex'

	export default {
		name: "sidebarLogo",
		data() {
			return {
			}
		},
		computed: {
			...mapGetters(['sidebarOpen', 'appTitle'])
		},

	}
</script>

<style lang="scss" scoped>
	@font-face {
		font-family: frogFont;
		src: url("../../../assets/font/Sketchalot.ttf");
	}

	#sidebar-logo {
		min-height: var(--toolbar-height);
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		img {
			width: 32px;
			height: 32px;
		}

		#sidebar-logo-text {
			display: inline;
			color: #fff;
			white-space: nowrap;
			line-height: var(--toolbar-height);
			font-size: 18px;
		}
	}
</style>
