<template>
  <el-collapse accordion>
    <el-collapse-item title="Фильтры" name="1">
      <el-form ref="form" label-width="120px">
        <el-form-item label="Тур">
          <el-select v-model="localFilters.stage" placeholder="Выберите тур">
            <el-option
                v-for="item in stages"
                :key="item.id"
                :label="item.Name"
                :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Команда">
          <el-select v-model="localFilters.team" placeholder="Выберите команду">
            <el-option
                v-for="item in teams"
                :key="item.id"
                :label="item.Name"
                :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
    </el-collapse-item>
  </el-collapse>
</template>
<script>
import {mapGetters} from "vuex";

export default {
  props: {
    filters: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters(['teams', 'stages']),
    localFilters: {
      get () {
        return this.filters
      },
      set (val) {
        this.$emit('update:filters', val)
      }
    }
  }
}
</script>