<template>
  <div>
    <el-card>
      <div class="h4">Календарь</div>
      <Filters :filters.sync="filters"/>
    </el-card>
    <el-card class="mt-3">
      <el-button @click="toggleCollapse">Раскрыть все</el-button>
      <el-collapse id="collaps" v-model="collapse">
        <template v-for="stage in getStage.filter(s => !filters.stage || s.id === filters.stage)">
          <el-collapse-item  :title="stage.name" :key="stage.id" :name="stage.id">

              <div class="matches" v-for="match in stage.matches.filter(m => !filters.team || (m.HomeTeamID === filters.team || m.GuestTeamID === filters.team))" >
                <div v-if="match.date" class="match-date">{{match.date}}</div>

                <div type="button" @click="gotoMatch(match.id)">
                  <el-card v-if="match.id" class="match-card ">
                    <el-row class="match-row">
                      <el-col class="team">
                        <div class="team-logo">
                          <img class="logo" :src="match.home_team.logo ? `/images/logo/${match.home_team.logo}` : '/images/logo/unknown.png'"  />
                        </div>
                        {{ match.home_team.Name }}
                      </el-col>
                      <el-col class="result justify-content-center">
                        <div v-if="match.IsCompleted">
                          {{ match.HomeTeamGoals }}
                          -
                          {{ match.GuestTeamGoals }}
                        </div>
                        <div v-else>vs</div>
                      </el-col>
                      <el-col class="team">
                        <div class="team-logo">
                          <img class="logo" :src="match.guest_team.logo ? `/images/logo/${match.guest_team.logo}` : '/images/logo/unknown.png'"  />
                        </div>
                        {{ match.guest_team.Name }}
                      </el-col>
                    </el-row>

                    <div class="matches-time text-center">{{match.time}}</div>
                  </el-card>
                </div>
              </div>
          </el-collapse-item>
        </template>
      </el-collapse>
    </el-card>
  </div>
</template>

<script>
import {mapGetters, mapActions} from "vuex";
import Filters from "@/views/common/Calendar/Filters";

export default {
  name: 'calendarPage',
  components: {Filters},
  data() {
    return {
      team: null,
      stage: null,
      collapse: [],
      filters: {
        team: null,
        stage: null
      }
    }
  },
  computed: {
    ...mapGetters(['leagues', 'seasons', 'stages','teams']),
    getStage() {
      let stages = []
      this.stages.map(stage => {
        let matchDate = ''
        stages.push({id: stage.id, name: stage.name, matches: stage.matches.map(m => {
          if ( m.Date.split(' ')[0] != matchDate ) {
            matchDate = m.Date.split(' ')[0]
            return {date: matchDate, ...m, time: m.Date.split(' ')[1]}
          }else {
            return {...m, time: m.Date.split(' ')[1]}
          }
          })
        })
      })
      return stages
    }
  },
  methods: {
    ...mapActions([
      'getStages',
      'getTeams'
    ]),
    toggleCollapse () {
      if (this.collapse.length) this.collapse = []
      else this.collapse = this.stages.map(stage => stage.id)
    },
    gotoMatch (matchId) {
      this.$router.push(`/matches/${matchId}`);
    }
  },
  mounted() {
    this.getStages();
    this.getTeams();
  }
}
</script>
<style lang="scss" scoped>
.el-collapse-item__content {
  padding: 0
}

.matches {
    max-width: 380px;
}
.match-date {
  text-align: center;
  margin: 8px 0 5px;
  font-size: 19px;
  font-weight: bolder;
  letter-spacing: 1px;
  position: relative;
}
.matches-time {
  font-size: 14px;
  font-weight: bold;
}
.match-date::before {
  top: 30px;
  content: "";
  width: 220px;
  height: 6px;
  border-radius: 80%;
  background-color: #ffb180;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.team {
  display: grid;
  justify-items: center;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
}
.team-logo {
  height: 50px;
  display: flex;
  align-items: center;
}
.logo {
  width: 40px;
}
.result {
  font-size: 17px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.match-row {
  max-height: 55px;
  display: flex;
  justify-content: space-between;
}


</style>
