<template>
  <el-table
      :data="players"
      style="width: 100%">
    <el-table-column
        label="#"
        type="index"/>
    <el-table-column
        label="Игрок"
        prop="FullName"
        width="200">
    </el-table-column>
    <el-table-column
        label="Пропус-кает"
        prop="misses"
        width="100"/>
    <el-table-column
        label="Получил"
        prop="stages"
        width="160"/>
    <el-table-column
        label="Команда"
        prop="team"
        width="130"/>
  </el-table>
</template>
<script>
export default {
  props: {
    players: {
      type: Array,
      required: true
    }
  }
}
</script>
