<template>
  <div>
    <el-card>
      <div class="h4 mb-0">Пропуск матча</div>
    </el-card>
    <el-card class="mt-3">
      <div class="h6">Пропускает по жёлтым карточкам</div>
      <CardPlayersList :players="cards.yellow" />
      <el-divider/>
      <div class="h6">По красным</div>
      <CardPlayersList :players="cards.red" />
    </el-card>
  </div>
</template>
<script>
import {mapActions, mapGetters} from "vuex";
import CardPlayersList from "@/views/common/Players/CardPlayersList";

export default {
  components: {CardPlayersList},
  data() {
    return {}
  },
  computed: {
    ...mapGetters(['cards'])
  },
  methods: {
    ...mapActions(['getCards']),
  },
  mounted() {
    this.getCards()
  }
}
</script>
