<template>
  <div class="row">
    <div class="d-flex flex-column col-md-3">
      <el-input v-model="player.LastName" placeholder="Фамилия" class="my-2"/>
      <el-input v-model="player.FirstName" placeholder="Имя" class="mb-2"/>
      <el-input v-model="player.BirthYear" placeholder="Год рождения" class="mb-2"/>
      <el-button @click="save">{{ player.id ? 'Сохранить' : 'Создать' }}</el-button>
    </div>
  </div>
</template>
<script>
export default {
  name: 'PlayerForm',
  props: {
    player: {
      type: Object,
      required: true,
      default: {
        FirstName: '',
        LastName: '',
        BirthYear: '',
        SeasonID: ''
      }
    }
  },
  model: {prop: 'player'},
  data() {
    return {

    }
  },
  methods: {
    save() {
      if (this.player.id) this.$http.put(`/players/${this.player.id}`, this.player).then(resp => {
        this.$emit('success')
        })
      else this.$http.post('/players', this.player).then(resp => {
        this.$emit('success')
      })
    }
  }
}
</script>
