<template>
  <el-card>
    <div class="row">
      <div class="col-12 col-md-3">
        <div>
          <el-select class="mb-2" v-model="teamID" placeholder="Выберите команду">
            <el-option
                v-for="item in teams"
                :key="item.id"
                :label="item.Name"
                :value="item.id">
            </el-option>
          </el-select>
        </div>
        <div>
          <el-select class="mb-2" v-model="playerId" placeholder="Выберите игрока">
            <el-option
                v-for="item in players.filter(p => p.TeamID === player.TeamID || !player.TeamID)"
                :key="item.id"
                :label="`${item.FirstName} ${item.LastName}`"
                :value="item.id">
            </el-option>
          </el-select>
        </div>
        <div class="mb-4">
          <el-button @click="playerId = 'new'">+ Добавить</el-button>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div>
          <el-select class="mb-2" v-model="fromTeamID" placeholder="Выберите команду">
            <el-option
                v-for="item in teams"
                :key="item.id"
                :label="item.Name"
                :value="item.id">
            </el-option>
          </el-select>
        </div>
        <div>
          <el-select class="mb-2" v-model="transferPlayerId" filterable placeholder="Выберите игрока">
            <el-option
                v-for="item in players.filter(p => p.TeamID === fromTeamID || !fromTeamID)"
                :key="item.id"
                :label="`${item.FirstName} ${item.LastName}`"
                :value="item.id">
            </el-option>
          </el-select>
        </div>
        <div class="mb-4" v-if="transferPlayerId">
          <el-button @click="transferPlayer(transferPlayerId)">&leftarrow; Трансфер</el-button>
        </div>
      </div>
    </div>

    <PlayerForm v-model="player" v-show="playerId" @success="success"/>
  </el-card>
</template>
<script>
import {mapActions, mapGetters} from "vuex";
import PlayerForm from "@/views/common/Players/Form";

const newPlayer = {
  TeamID: '',
  SeasonID: '',
  FirstName: '',
  LastName: '',
  BirthYear: ''
}

export default {
  components: {PlayerForm},
  data() {
    return {
      playerId: null,
      teamID: null,
      fromTeamID: null,
      transferPlayerId: null,
      player: {...newPlayer}
    }
  },
  watch: {
    playerId() {
      const player = this.players.find(player => player.id === this.playerId)
      if (player) this.player = this.players.find(player => player.id === this.playerId)
      else this.player = {...newPlayer}
      this.player.TeamID = this.teamID
      this.player.SeasonID = this.season_id
    },
    teamID() {
      this.player.TeamID = this.teamID
    }
  },
  computed: {
    ...mapGetters(['teams', 'players', 'season_id'])
  },
  methods: {
    ...mapActions(['getTeams', 'getPlayers']),
    success() {
      this.player = {
        ...newPlayer,
        TeamID: this.teamID,
        SeasonID: this.season_id
      }
      this.playerId = null
      this.getPlayers()
    },
    transferPlayer(id) {
      if (!this.teamID) {
        this.$message.error('Команда для трансфера не выбрана!')
        return;
      }
      this.$http.post(`/teams/${this.teamID}/members`, {
        player_id: id,
        season_id: this.season_id
      }).then(() => {
        this.$message.success('Игрок добавлен в команду ' + this.teams.find(team => team.id === this.teamID).Name)
      })
    }
  },
  mounted() {
    this.getTeams()
    this.getPlayers()
  }
}
</script>
