<template>
  <div>
    <el-card>
      <div class="h4 mb-0">Рейтинг игроков</div>
    </el-card>
    <el-card class="mt-3">
      <div class="h6">Рейтинг бомбардиров</div>
      <el-table
          :data="bombardiers"
          style="width: 100%"
          @row-click="gotoTeam">
        <el-table-column
            label="#"
            type="index"/>
        <el-table-column
            label="Игрок"
            prop="FullName"
            width="200">
        </el-table-column>
        <el-table-column
            label="голы"
            prop="goals"/>
        <el-table-column
            label="Команда"
            prop="team"
            width="130"/>
      </el-table>

      <el-divider/>

      <div class="mt-3 h6">Рейтинг нарушителей</div>
      <el-table
          :data="violators"
          style="width: 100%"
          @row-click="gotoTeam">
        <el-table-column
            label="#"
            type="index"/>
        <el-table-column
            label="Игрок"
            prop="FullName"
            width="200">
        </el-table-column>
        <el-table-column
            label="*"
            prop="cards"/>
        <el-table-column
            label="ж"
            prop="yellow"/>
        <el-table-column
            label="к"
            prop="red"/>
        <el-table-column
            label="Команда"
            prop="team"
            width="130"/>
      </el-table>
    </el-card>
  </div>
</template>
<script>
import {mapActions, mapGetters} from "vuex";

export default {
  data() {
    return {}
  },
  computed: {
    ...mapGetters(['bombardiers', 'violators'])
  },
  methods: {
    ...mapActions(['getRatings']),
    gotoTeam (player) {
      this.$router.push(`/teams/${player.team_id}`)
    }
  },
  mounted() {
    this.getRatings()
  }
}
</script>