<template>
  <div id="table">
    <el-card>
      <div class="h4 mb-0">Турнирная таблица</div>
    </el-card>
    <el-card class="mt-3 players">
      <el-table
          :data="tableTeams"
          style="width: 100%">
        <el-table-column
            label="#"
            type="index"
            width="40">
        </el-table-column>
        <el-table-column
            prop="Name"
            label="Команда"
            width="120">
        </el-table-column>
        <el-table-column
            prop="points"
            label="О"
            width="40">
        </el-table-column>
        <el-table-column
            prop="plays"
            label="И"
            width="40">
        </el-table-column>
        <el-table-column
            prop="wins"
            label="В"
            width="40">
        </el-table-column>
        <el-table-column
            prop="draws"
            label="Н"
            width="40">
        </el-table-column>
        <el-table-column
            prop="losses"
            label="П"
            width="40">
        </el-table-column>
        <el-table-column
            prop="difference"
            label="+-"
            width="60">
        </el-table-column>
        <el-table-column
            prop="scored"
            label="ЗМ"
            width="60">
        </el-table-column>
        <el-table-column
            prop="conceded"
            label="ПМ"
            width="60">
        </el-table-column>
      </el-table>
    </el-card>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import AppTable from "@/components/common/AppTable";

export default {
  name: 'tablePage',
  components: {
    AppTable
  },
  data() {
    return {
      teams: []
    }
  },
  computed: {
    ...mapGetters([
      'tableTeams'
    ])
  },
  mounted() {
    this.getTableTeams()
  },
  methods: {
    ...mapActions(['getTableTeams'])
  }
}
</script>

<style scoped>
</style>
