<template>
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
         viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
<metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
      <g><g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)"><path d="M1080,110v-4900h3920h3920V110v4900H5000H1080V110z M3040,3703.3V3050h1960h1960v653.3v653.3h653.3h653.3v-1960v-1960l-1002.4,4.1l-1002.5,6.1l-40.8,110.3c-226.6,606.4-865.7,965.7-1478.2,828.9c-451.2-100-782-379.8-953.4-806.5l-53.1-132.7l-1000.4-6.1l-1002.5-4.1v1960v1960h653.3H3040V3703.3z M6306.7,4030v-326.7H5000H3693.3V4030v326.7H5000h1306.7V4030z M5275.6,696c57.2-28.6,145-96,194-151.1l91.9-98l-279.7-6.1c-155.2-2-408.3-2-561.5,0l-281.7,6.1l91.9,98c147,161.3,287.9,220.5,500.2,210.3C5134.7,751.1,5202.1,734.7,5275.6,696z M3750.5-261.6c6.1-26.5,51-126.6,100-224.6c149-300.1,410.4-524.7,745.2-645.2c128.6-44.9,181.7-53.1,394-55.1c253.2,0,408.3,32.7,602.3,132.7c134.7,67.4,318.5,220.5,414.5,343c87.8,114.3,218.5,353.2,245,453.3c10.2,40.8,20.4,40.8,1012.7,40.8h1002.4v-1960v-1960h-653.3H6960v653.3v653.3H5000H3040v-653.3v-653.3h-653.3h-653.3v1960v1960h1002.5h1002.5L3750.5-261.6z M5530.8-241.2c0-51-200.1-216.4-314.4-259.3c-228.7-85.7-467.5-34.7-647.2,138.8c-55.1,53.1-100,108.2-100,120.4c0,18.4,134.7,24.5,530.8,24.5C5396.1-216.7,5530.8-222.8,5530.8-241.2z M6306.7-3810v-326.7H5000H3693.3v326.7v326.7H5000h1306.7V-3810z"/></g></g>
</svg>
  </div>
</template>

<script>

export default {
  name: "Stadium"
}
</script>
