<template>
	<div id="toolbar">
		<sidebar-activator/>
		<div class="spacer"></div>
		<el-button v-if="!is_authorised" type="success" @click="login">login</el-button>
		<el-button v-else type="danger" @click="_logout">logout</el-button>
	</div>
</template>

<script>
	import SidebarActivator from "@/layout/outside/toolbar/sidebarActivator";
  import {mapActions, mapGetters} from "vuex";

	export default {
		name: "toolbar",
		components: {SidebarActivator},
    computed: {
		  ...mapGetters(['is_authorised'])
    },
		methods: {
		  ...mapActions(['logout']),
			login() {
		    this.$router.push({name:'login'})
			},
			_logout() {
				this.logout()
			},
		}
	}
</script>

<style lang="scss" scoped>
	@import "../../../style/variables";

	#toolbar {
		height: var(--toolbar-height);
		display: inline-flex;
		flex-wrap: nowrap;
	}
</style>
