<template>
  <div class="hello">
   
     <div class="block rounded-top last-matches">
    <el-row>
        <el-col v-for="stadium in stadiums" :key="stadium.id"
         id="k" :sm="24" :md="12" :lg="8" class="pr-lg-3">
           <el-card>
                <h4 id="name-stadium" class=" text-center text-lead mb-3">{{stadium.address}}</h4>
                <img  class="logo" :src="stadium.image" alt="">
              <div class="name d-flex mt-2">
                <div id="user" class="el-icon-s-custom mr-1"></div>
                <h5 class="">{{stadium.name}}</h5></div>
              <div class="phone d-flex">
                 <div id="phone" class="el-icon-phone mr-2"></div>
                 <a href="tel:stadium.number">{{stadium.number}}</a>
              </div>
          </el-card>
        </el-col>
    </el-row>
  </div>
     
             

  </div>
</template>

<script>
import axios from 'axios'

export default {

  data(){
    return {
      stadiums:[]
    }
  },

   mounted() {
       axios.get('/data.json').then((res)=> {
          this.stadiums = res.data
       })
   }
}


</script>

<style scoped>
img {
  width: 100%;
  height: 100%;
}

#user {
  font-size: 23px;
}

#phone {
  font-size: 20px;
}

/* #name-stadium {
  background-color: #42b983;
  color: #fff;
  padding: 5px 15px;
  border-radius: 15px 15px 15px 15px;
  
} */
/* #k {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-gap: 20px;
} */

</style>