<template>
  <div>
    <el-card>
      <div class="h4 mb-0">{{team.Name}}</div>
    </el-card>
    <el-card class="mt-3 players">
      <el-table
          :data="team.players"
          style="width: 100%">
        <el-table-column
            type="index"
            width="40">
        </el-table-column>
        <el-table-column
            prop="FullName"
            label="ФИО"
            width="200">
        </el-table-column>
        <el-table-column
            prop="BirthYear"
            label="Год"
            width="60">
        </el-table-column>
      </el-table>
    </el-card>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: 'teamPage',
  props:['id'],
  computed: {
  ...mapGetters([
      'team'
    ])
  },
  mounted() {
    this.getTeam(this.id);
  },
  methods: {
    ...mapActions(['getTeam'])
  }
}
</script>

<style lang="scss">
.players .el-card__body {
  padding: 10px;
}
</style>
