<template>
  <table class="table table-striped col-md-5 table-sm">
    <thead>
    <tr class="thead-light">
      <th>#</th>
      <!--          <th>logo</th>-->
      <th>Команда</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(row, i) in teams">
      <td>{{ i + 1 }}</td>
      <!--          <td class="text-left"><router-link :to="'/teams/' + row.id">{{ row.logo }}</router-link></td>-->
      <td><router-link :to="'/teams/' + row.id">{{ row.Name }}</router-link></td>
    </tr>
    </tbody>
  </table>
</template>
<script>
import {mapGetters} from "vuex";

export default {
  props: ['id'],
  name: 'teamsPage',
  computed: {
    ...mapGetters([
      'teams'
    ])
  },
  mounted() {
    this.$store.dispatch('getTeams');
  },
  methods: {}
}
</script>
