<template>
  <el-container>
    <div class="d-flex flex-column">
      <el-form ref="form" class="p-3" :model="match" label-width="120px" style="background-color: #fff">
        <el-form-item label="Тур">
          <el-select @change="getMatches" v-model="match.StageID" placeholder="Выберите тур">
            <el-option
                v-for="item in stages"
                :key="item.id"
                :label="item.name"
                :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Команда - дома">
          <el-select v-model="match.HomeTeamID" placeholder="Выберите команду">
            <el-option
                v-for="item in teams.filter(team => team.id !== match.GuestTeamID )"
                :key="item.id"
                :label="item.Name"
                :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Команда - гость">
          <el-select v-model="match.GuestTeamID" placeholder="Выберите команду">
            <el-option
                v-for="item in teams.filter(team => team.id !== match.HomeTeamID )"
                :key="item.id"
                :label="item.Name"
                :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Время матча">
          <el-col :span="11" :xs="24">
            <el-date-picker type="date"
                            placeholder="день"
                            v-model="match.Date"
                            format="dd.MM.yyyy"
                            value-format="yyyy-MM-dd"
                            style="width: 100%;"></el-date-picker>
          </el-col>
          <el-col class="line text-center " :span="2" :xs="0">-</el-col>
          <el-col :span="11" :xs="24">
            <el-row>
              <el-col :span="24">
                <el-input type="time" v-model="match.time" placeholder="время" />
              </el-col>
            </el-row>
          </el-col>
        </el-form-item>
        <el-button type="primary" @click="create">Создать</el-button>
      </el-form>
      <div v-if="matches.length"  class="matches">
        <div class="h2 text-center m-2">Матчи</div>
        <div v-for="match in matches">
          <el-card class="match-card p-2">
            <el-row >
              <el-col :span="20">
                <el-row class="date-row d-flex justify-content-center">
                  {{match.Date.split(' ')[1]}} | {{match.Date.split(' ')[0]}}
                </el-row>
                <el-row class="match-row">
                  <el-col :span="10" class="team d-flex justify-content-center">
                    <div>

                      {{ match.home_team.Name }}
                    </div>
                  </el-col>
                  <el-col :span="4" class="result justify-content-center">
                    <div class="font-weight-bold text-center" v-if="match.IsCompleted">
                      {{ match.HomeTeamGoals }}
                      -
                      {{ match.GuestTeamGoals }}
                    </div>
                    <div class="font-weight-bold text-center" v-else>vs</div>
                  </el-col>
                  <el-col :span="10" class="team d-flex justify-content-center">
                    {{ match.guest_team.Name }}
                  </el-col>
                </el-row>
              </el-col>
              <el-col :span="4" class="d-flex justify-content-center">
                <el-button style="width: 100%; font-size: 20px" @click="deleteDialog(match)" type="text" size="large" icon="el-icon-delete">
                </el-button>
              </el-col>
              <el-dialog
                  class="dialog"
                  title="Удалить матч?"
                  :modal="false"
                  :visible.sync="dialog"
                  width="80%">
                <span>Так же будеть удалена счёт игры</span>
                <span slot="footer" class="dialog-footer">
                <el-button @click="dialog = false">Отменить</el-button>
                <el-button type="primary" @click="deleteMatch(deleteMatchId)">Ок</el-button>
              </span>
              </el-dialog>
            </el-row>
          </el-card>
        </div>
      </div>
    </div>
  </el-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

const emptyMatch = {
  season: 1,
  StageID: '',
  RefereeID: '',
  HomeTeamID: '',
  GuestTeamID: '',
  Date: '',
  time: '',
}

export default {
  data() {
    const minutes = ['00', '05'];
    for (let i = 10; i <= 55; i += 5) {
      minutes.push(i.toString())
    }
    return {
      dialog: false,
      minutes,
      stages: [],
      deleteMatchId: null,
      referees: [],
      match: {...emptyMatch},
      matches: []
    }
  },
  computed: {
    ...mapGetters(['teams', 'season_id'])
  },
  mounted() {
    this.getTeams();

    this.match.season = this.season_id

    this.getStages()

    // this.$http.get(`/${this.match.season}/referees`).then(({data}) => {
    //   this.referees = data;
    // }).catch(e => console.error(e))
  },
  methods: {
    ...mapActions(['getTeams']),
    async getStages() {
      await this.$http.get(`/seasons/${this.match.season}/stages`).then(({data}) => {
        this.stages = data.data;
        this.getMatches()
      }).catch(e => console.error(e))
    },
    getMatches() {
      this.matches = []
      this.stages.map(el => {
        if (el.id === this.match.StageID) {
          this.matches.push(...el.matches)
        }
      })
    },
    create() {
      let time = this.match.time
      this.$http.post('/match', {
        ...this.match,
        Date: `${this.match.Date} ${time}`
      }).then(() => {
        this.$message({
          message: 'Матч успешно создан',
          type: 'success'
        });
        this.getStages()
        this.match = {
          ...emptyMatch,
          StageID: this.match.StageID,
          Date: this.match.Date,
          Time: this.match.Date,
          season: this.season_id
        }
      }).catch(error => {
        if (typeof error === "string") {
          error = JSON.parse(error)
          this.$message({
            message: error.request.response.message,
            type: 'error'
          });
        }
        this.$message({
          message: error.response.data.message,
          type: 'error'
        });
      })
    },
    deleteDialog(match) {
      if (match.IsCompleted) {
        this.deleteMatchId = match.id
        this.dialog = true
      }else {
        this.deleteMatch(match.id)
      }
    },
    deleteMatch(matchId) {
      this.$http.delete(`/match/${matchId}`).then(() => {
        this.getStages()
        this.$message({
          message: 'Матч успешно удален',
          type: "success"
        })
        this.dialog = false
      }).catch(error => {
        this.dialog = false
        if (typeof error === "string") {
          error = JSON.parse(error)
          this.$message({
            message: error.request.response.message,
            type: 'error'
          });
        }
        this.$message({
          message: error.response.data.message,
          type: 'error'
        });
      })
    },
  }
}
</script>

<style lang="scss" scoped>
.match-row {
  max-height: 55px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 700px){
  .dialog {
    max-width: 400px;
    left: 19%;
  }
}

</style>
