<template>
  <el-container>
    <el-form ref="form" class="p-3" label-width="120px" style="background-color: #fff">
<!--      <el-form-item label="Сезон">-->
<!--        <el-select v-model="match.StageID" placeholder="Выберите тур">-->
<!--          <el-option-->
<!--              v-for="item in stages"-->
<!--              :key="item.id"-->
<!--              :label="item.Name"-->
<!--              :value="item.id">-->
<!--          </el-option>-->
<!--        </el-select>-->
<!--      </el-form-item>-->
      <div class="d-md-flex">
        <el-form-item label="Тур">
          <el-select v-model="stage" placeholder="Выберите тур">
            <el-option
                v-for="item in stages"
                :key="item.id"
                :label="item.name"
                :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item v-show="stage" label="Матч">
          <el-select v-model="match.id" placeholder="Выберите матч">
            <el-option
                v-for="item in matches"
                :key="item.id"
                :label="`${item.home_team.Name} - ${item.guest_team.Name}`"
                :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </div>

      <div v-if="match.id">
        <el-row>
          <el-col :span="12" class="text-right pr-2">
            {{ this.homeTeam.Name }} {{
              match.goals.filter(goal => goal.TeamID === this.homeTeam.id && goal.Type >= 0
                  || goal.TeamID !== this.homeTeam.id && goal.Type === -1).length
            }}
          </el-col>
          <el-col :span="12" class="pl-2">
            {{
              match.goals.filter(goal => goal.TeamID === this.guestTeam.id && goal.Type >= 0
                  || goal.TeamID !== this.guestTeam.id && goal.Type === -1).length
            }}
            {{ this.guestTeam.Name }}
          </el-col>
        </el-row>
        <div v-for="(goal, index) in match.goals" :class="{'text-right': goal.TeamID === guestTeam.id}">
          <i class="fa fa-futbol-o" aria-hidden="true"></i>
          {{ _players.find(p => p.id === goal.PlayerID) | fullName }}
          {{ goal | goalType }}
          <el-button type="danger" size="mini" @click="removeMatchItem(index, 'goal')" icon="el-icon-delete" circle></el-button>
        </div>
        <div v-for="(item, index) in match.cards" :class="{'text-right': item.TeamID === guestTeam.id}">
          <div :class="{card:1, yellow: item.Type === 0, red: item.Type === 1}"/>
          {{ _players.find(p => p.id === item.PlayerID) | fullName }}
          <el-button type="danger" size="mini" @click="removeMatchItem(index, 'card')" icon="el-icon-delete" circle></el-button>
        </div>
        <el-divider></el-divider>
        <div>
          <div>
            <el-form-item label="Команда">
              <div class="d-flex flex-column flex-md-row">
                <el-radio v-for="item in teams" v-model="team" :label="item.id" :key="item.id">{{item.Name}}</el-radio>
              </div>
            </el-form-item>

            <el-form-item v-show="team" label="Игрок">
              <el-select v-model="matchItem.PlayerID" filterable placeholder="Select">
                <el-option
                    v-for="item in players"
                    :key="item.id"
                    :label="fullName(item)"
                    :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </div>
          <el-collapse accordion @change="matchItem.Type = 0">
            <el-collapse-item title="Добавить гол" name="1">
              <el-form-item label="Тип гола">
                <div class="d-flex flex-column flex-md-row">
                  <el-radio v-model="matchItem.Type" :label="0">Гол</el-radio>
                  <el-radio v-model="matchItem.Type" :label="-1">Автогол</el-radio>
                  <el-radio v-model="matchItem.Type" :label="1">Со штрафного</el-radio>
                  <el-radio v-model="matchItem.Type" :label="2">С пенальти</el-radio>
                  <el-button type="success" @click="addMatchItem('goal')">+</el-button>
                </div>
              </el-form-item>
            </el-collapse-item>

            <el-collapse-item title="Добавить карточку" name="2">
              <el-form-item label="Тип карточки">
                <el-radio-group v-model="matchItem.Type">
                  <div class="d-flex flex-column flex-md-row">
                    <el-radio border :label="0">Желтый <div class="card yellow"/></el-radio>
                    <el-radio border :label="1">Красный <div class="card red"/></el-radio>
                    <el-button type="danger" @click="addMatchItem('card')">+</el-button>
                  </div>
                </el-radio-group>
              </el-form-item>
            </el-collapse-item>

          </el-collapse>
        </div>
      </div>
      <el-button type="primary" @click="update(false)">Обновить</el-button>
      <el-button type="success" @click="update(true)">Матч завершён</el-button>
    </el-form>
  </el-container>
</template>

<script>

import {mapActions, mapGetters} from "vuex";
import {fullName} from "@/utils/commonUtils";

export default {
  data() {
    return {
      season: 1,
      stage: null,
      matches: [],
      team: null,
      homeTeam: {},
      guestTeam: {},
      matchItem: {
        PlayerID: null,
        TeamID: null,
        Type: 0
      },
      match: {
        id: '',
        goals: [],
        cards: []
      },
      matchID: 0,
      teams: [],
      _players: [],
      players: []
    }
  },
  computed: {
    ...mapGetters(['stages'])
  },
  watch: {
    stage(newValue) {
      this.matches = this.stages.find(stage => stage.id === newValue).matches
    },
    team (newValue) {
      this.players = this._players.filter(p => p.TeamID === newValue);
      this.matchItem.PlayerID = null
    },
    match: {
      handler (newVal) {
        const match = this.matches.find(item => item.id === newVal.id)
        this.teams = [match.home_team, match.guest_team]
        this.homeTeam = match.home_team
        this.guestTeam = match.guest_team

        this.matchID = match.id;
      },
      deep: true
    },
    matchID (newValue) {

      this.$http.get(`/match/${newValue}/data`).then(({data}) => {
        this._players = data.players;
        this.match.goals = data.goals;
        this.match.cards = data.cards;
      }).catch(e => console.error(e))

    }
  },
  mounted() {
    this.getStages()
  },
  methods: {
    ...mapActions(['getStages']),
    update(isCompleted = false) {
      if (!this.match.id) {
        this.$message.error('Выберите матч')
        return
      }
      const data = {
        ...this.match,
        is_completed: isCompleted
      }
      this.$http.put(`/match/${this.match.id}`, data).then( resp => {
        this.$message.success('Данные сохранены')
      }).catch(resp => this.$message.error(resp.message))
    },
    fullName,
    addMatchItem (type) {
      const matchItem = this.matchItem;
      if (matchItem.PlayerID && matchItem.Type !== null) {

        if (type === 'goal')
          this.match.goals.push({
            ...this.matchItem,
            TeamID: this.team
          })
        else
          this.match.cards.push({
            ...this.matchItem,
            TeamID: this.team
          })

        this.$forceUpdate()
      } else this.$message.error('Выберите игрока');
    },
    removeMatchItem (index, type) {
      if (type === 'goal')
        this.match.goals = this.match.goals.filter((val, i) => i !== index)
      else
        this.match.cards = this.match.cards.filter((val, i) => i !== index)
    }
  }
}
</script>

<style lang="sass" scoped>
  .card
    width: 14px
    height: 14px
    display: inline-block
    &.yellow
      background-color: yellow
    &.red
      background-color: #F56C6C
</style>
