<template>
  <div>
    <el-card v-if="match.id" class="match">
      <div class="stage">
        <div>{{ match.stage.Name }}</div>
      </div>
      <el-row class="d-flex justify-content-between">
        <el-col class="team">
          <div class="team-logo">
            <img class="team-logo-img" :src="match.home_team.logo ? `/images/logo/${match.home_team.logo}` : '/images/logo/unknown.png'"  />
          </div>
          {{ match.home_team.Name }}
        </el-col>
        <el-col class="result">
          <b>
            {{ match.HomeTeamGoals }}
            :
            {{ match.GuestTeamGoals }}
          </b>
        </el-col>
        <el-col class="team">
          <div class="team-logo">
            <img class="team-logo-img" :src="match.guest_team.logo ? `/images/logo/${match.guest_team.logo}` : '/images/logo/unknown.png'"  />
          </div>
          {{ match.guest_team.Name }}
        </el-col>
      </el-row>
      
      <div class="mb-3 text-center"><small>{{match.Date | dateTime}}</small></div>
      <el-divider class="mt-2"></el-divider>

      <div v-for="goal in match.goals" :class="{'text-right': goal.TeamID === guestTeam.id}">
        <i class="fa fa-futbol-o" aria-hidden="true"></i>
        {{ players.find(p => p.id === goal.PlayerID) | fullName }}
        {{ goal | goalType }}
      </div>
      <div v-for="item in match.cards" :class="{'text-right': item.TeamID === guestTeam.id}">
        <div :class="{card:1, yellow: item.Type === 0, red: item.Type === 1}"/>
        {{ players.find(p => p.id === item.PlayerID) | fullName }}
      </div>
    </el-card>
  </div>
</template>
<script>
import {mapActions} from "vuex";
import {request} from "@/api/request";

export default {
  data() {
    return {
      players: [],
      goals: [],
      cards: [],
      match: {},
      homeTeam: {},
      guestTeam: {}
    }
  },
  methods: {
    ...mapActions(['setSeason', 'setLeague']),
  },
  mounted() {
    const id = this.$route.params.id;
    this.$http.get(`/match/${id}`).then(({data}) => {
      this.players = [
        ...data.home_team.players,
        ...data.guest_team.players
      ];
      this.goals = data.goals;
      this.cards = data.cards;
      this.match = data;
      this.homeTeam = this.match.home_team
      this.guestTeam = this.match.guest_team
      request('seasons', data.stage.SeasonID).then(({data}) => {
        const season = data.data;
        this.setSeason(season)
        this.setLeague(season.league)
      })
    }).catch(e => console.error(e))
  }
}
</script>

<style>
</style>
<style lang="sass" scoped>
.team
    display: grid
    justify-items: center
    font-weight: bold
    &-logo
      display: flex
      justify-content: center
      margin-bottom: 10px
      &-img
        height: 80px
.result
    font-size: 25px
    display: flex
    align-items: center
    justify-content: center
.card
  width: 14px
  height: 14px
  display: inline-block
  &.yellow
    background-color: yellow
  &.red
    background-color: #F56C6C
</style>
