<template>

</template>

<script>
export default {
  name: 'News',
  props: {
  },
  data() {
    return {

    }
  },
  mounted() {

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
