<template>
	<div id="sidebar" :class="{'active' : sidebarOpen}">
		<sidebar-logo/>
		<el-scrollbar id="sidebar-scroll">
			<sidebar-menu/>
		</el-scrollbar>
	</div>
</template>

<script>
	import SidebarLogo from "@/layout/sidebar/sidebarLogo/index";
	import SidebarMenu from "@/layout/sidebar/sidebarMenu/index";
  import {mapGetters} from 'vuex'
  // state.sidebar.open

	export default {
		name: "sidebar",
		components: {SidebarMenu, SidebarLogo},
    computed: {
      ...mapGetters({
        sidebarOpen: 'sidebarOpen',
      })
    }
	}
</script>

<style lang="scss" scoped>

</style>
