<template>
  <div id="home">
    <div>
      <Matches title="Последние матчи" :matches="lastMatches"/>
      <Matches title="Следующие матчи" :matches="nextMatches"/>
    </div>
  </div>
</template>

<script>
import Matches from "@/components/common/Matches";
import {mapGetters, mapActions} from "vuex";

export default {
  name: 'home',
  components: {
    Matches
  },
  computed: {
  ...mapGetters([
      'lastMatches',
      'nextMatches'
    ])
  },
  mounted() {
    this.getCurrentInfo();
  },
  methods: {
    ...mapActions(['getCurrentInfo'])
  }
}
</script>

<style lang="scss" scoped>

</style>
