<template>
  <div>
    <ul>
      <li>
        <router-link to="/" tag="a">Главная страница</router-link>
      </li>
      <li>
        <router-link to="/teams" tag="a">Команды</router-link>
      </li>
      <li>
        <router-link to="/calendar" tag="a">Календарь</router-link>
      </li>
      <li>
        <router-link to="/table" tag="a">Таблица</router-link>
      </li>
      <li>
        <router-link to="/about" tag="a">О лиге</router-link>
      </li>
    </ul>
  </div>
</template>

<script>


export default {
  name: "appFooter"
}
</script>

<style lang="scss" scoped>

</style>
