@import "variables";
@import "mixins";
@import "frog/index";
@import "element/index";
@import "transition";
@import "sidebar";
@import "common";
@import "echarts";
@import "~font-awesome/css/font-awesome.min.css";

@font-face {
  font-family: 'iconfont';  /* project id 1211000 */
  src: url('//at.alicdn.com/t/font_1211000_opald5hgjjd.eot');
  src: url('//at.alicdn.com/t/font_1211000_opald5hgjjd.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1211000_opald5hgjjd.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1211000_opald5hgjjd.woff') format('woff'),
  url('//at.alicdn.com/t/font_1211000_opald5hgjjd.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1211000_opald5hgjjd.svg#iconfont') format('svg');
}

.router-link-exact-active, .router-link-active {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.spacer {
  flex: 1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #a1a3a9;
  border-radius: 1rem;
}

.rounded-top {
  border-radius: 15px 15px 0 0;
}

.block {
  padding: 15px;
  background-color: #fff;
}

.last-matches{
  h1, h2 {
    margin: 0;
  }
}

.match {

}

.el-submenu__icon-arrow {
  top: 55% !important;
  right: 5px !important;
}

.el-table td,
.el-table th {
  padding: 5px 0 !important;
}

.match .el-card__body {
  padding-top: 0;
}
.match-card .el-card__body {
  padding: 0;
}

.stage {
  display: flex;
  justify-content: center;

  div {
    background-color: var(--sidebar-bgc);
    color: #fff;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 0 0 15px 15px;
  }
}

.el-menu-item {
  .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 18px;
    margin-left: 5px;
  }
  &.Stadiums {
    .icon{
      background-image: url('/images/logo/stadium.svg');
      background-size: cover;
      margin-left: 0;
      margin-right: 22px;
    }
  }
  &.cards {
    .icon {
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        height: 15px;
        width: 12px;
        border: 2px solid transparent;
      }

      &:before {
        background: #f56c6c;
        border-color: #f56c6c;
      }

      &:after {
        background: #ff0;
        border-color: #ff0;
        transform: translate(5px, 5px);
      }
    }
  }
}

.el-table .cell {
  word-break: break-word !important;
}

.goTo-match {
  background-color: #42b983;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff
}
