#sidebar {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
  background-color: var(--sidebar-bgc);
  width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  z-index: 800;
  overflow-x: hidden;

  #sidebar-scroll {
    flex: 1;
  }

  .el-scrollbar__bar.is-horizontal {
    display: none;
  }


  .sidebar-menu-item {
    transition: border 0.3s;

    .side-menu-icon {
      margin-right: 25px;
    }

    &:hover:not(.nest-menu-item) {
      border-left: #ff5533;
      border-width: 0 0 0 2px;
      border-style: solid;
    }
  }

  .nest-menu-item {
    .el-submenu__title, .el-menu-item {
      background-color: #2a2a32 !important;

      &:hover {
        background-color: #22222a !important;
      }
    }
  }
}

@include mobile {
  #sidebar:not(.active) {
    left: -65px;
  }
  #sidebar-activator.collapse-sidebar {
    margin-left: 75px;
  }
}

.el-menu {
  border-right: none !important;
}

.el-menu--popup {
  padding: 0 !important;
}
