<template>
	<div id="app-main">
    <AppBreadCrumb/>
    <transition name="fade-transform" mode="out-in">
			<router-view :key="route" style="padding: 1rem;"/>
		</transition>
    <app-footer/>
  </div>
</template>

<script>
	import AppFooter from "@/layout/outside/footer";
  import AppBreadCrumb from "@/components/common/AppBreadCrumb";
  export default {
		name: "appMain",
    components: {AppBreadCrumb, AppFooter},
    computed: {
			route() {
				return this.$route.path;
			}
		},
	}
</script>

<style lang="scss" scoped>
	#app-main {
		flex: 1;
		overflow-y: scroll;
		overflow-x: auto;
	}
</style>
