<template>
  <div v-if="showBreadCrumb()" class=" p-2 px-4">
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">Главная</el-breadcrumb-item>
      <el-breadcrumb-item :to="{name: 'leagues', query: {'redirect-to': this.$route.path}}">{{ league.name }}</el-breadcrumb-item>
      <el-breadcrumb-item :to="{name: 'leagues', params: {id: parseInt(league.id)}, query: {'redirect-to': this.$route.path}}">{{ season.name }}</el-breadcrumb-item>
      <el-breadcrumb-item>{{ this.$route.meta.sideName }}</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
</template>

<script>

import {mapGetters} from "vuex";

export default {
  name: 'AppBreadCrumb',
  computed: {
    ...mapGetters(['season_id', 'season', 'league'])
  },
  mounted() {
    if (!this.season_id) {
      this.$router.push({name: 'leagues', params: {'redirect-to': this.$route.path}})
    }
  },
  methods: {
    showBreadCrumb() {
      return this.$route.path !== '/' && this.$route.name !== 'leagues'
          && this.$route.name !== 'register'
    }
  }
}
</script>

<style scoped>

</style>
