<template>
  <table class="table table-striped col-md-5 table-sm">
    <thead>
    <tr class="thead-light">
      <th colspan="2"></th>
      <th>
        <Stadium/>
      </th>
      <th><i class="fa fa-plus" aria-hidden="true"></i></th>
      <th>=</th>
      <th><i class="fa fa-minus" aria-hidden="true"></i></th>
      <th title="Разница мячей"><i class="fa fa-futbol-o" aria-hidden="true"></i></th>
      <th title="Очки">
        <fr-icon icon="calculator"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(row, i) in rows">
      <td>{{ i + 1 }}</td>
      <td class="text-left">{{ row.name }}</td>
      <td>{{ row.games }}</td>
      <td>{{ row.victory }}</td>
      <td>{{ row.draw }}</td>
      <td>{{ row.lost }}</td>
      <td>
        <template v-if="row.goals > 0">
          +{{ row.goals }}
        </template>
        <template v-else>
          {{ row.goals }}
        </template>
      </td>
      <td>{{ row.points }}</td>
    </tr>
    </tbody>
  </table>
</template>
<script>
import Stadium from "@/views/common/Icon/Stadium";
const AppTable = {
  name: 'appTable',
  components: {Stadium},
  props: {
    rows: Array
  }
}

export default AppTable
</script>

<style scoped>
th, td {
  text-align: center;
}
</style>
