<template>
    <el-card body-style="width: 100%" class="w-100 league d-flex justify-content-center">
        <div @click="showSeason = !showSeason">
          <div class="league-block">
              <div class="league-img">
                <img src="/images/league.png" alt="">
              </div>
            <strong class="league-text">{{league.name}}</strong>
          </div>
            <div v-show="showSeason">
              <hr/>
              <div  class="season">
                <div v-for="season in league.seasons" :key="season.id">
                  <div @click="selectSeason(season)" class="season-items">
                    <strong class="season-items-name">{{season.name}}</strong>
                    <div class="season-items-btn">
                      <div>
                        <fr-icon style="color: #42b983" icon="doubleright"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </el-card>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: "League",
  props: {
    league: {
      type: Object,
      required: true
    },
  },
  data() {
    return {
      showSeason: false
    }
  },
  methods: {
    ...mapActions(['setSeason']),
    selectSeason(season) {
      if (season.league_id) {
        this.setSeason(season)
        this.$router.push('/table')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.league {
  &-block {
   width: 100%;
   display: grid;
   justify-items: center;
  }
  &-text {
   font-size: 19px;
  }
  &-img {
   display: flex;
   justify-content: center;
   width: 152px;
   margin-bottom: 15px;
    img {
    width: 100%;
    }
  }
}
.season {
  &-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #78e1b2;
    border-radius: 10px;
    &:hover {
      transition: 0.3s;
      background-color: rgba(0, 0, 0, 0.1);
    }
    &-name {
      font-size: 17px;
      color: #4a4a52;
    }
  }
}

</style>