<template>
  <div class="block rounded-top last-matches">
    <h2>{{title}}</h2>
    <el-row>
      <template v-for="match in matches">
        <el-col :sm="24" :md="12" :lg="8" class="pr-lg-3">
          <Match class="mb-2" :key="match.id" :match="match" :show-time="showTime"/>
        </el-col>
      </template>
    </el-row>
  </div>
</template>

<script>
import Match from "@/components/common/Match";

const Matches = {
  name: 'Matches',
  components: {Match},
  props: {
    title: String,
    showTime: false,
    matches: {}
  },
  data() {
    return {}
  }
};

export default Matches;
</script>
