<template>
  <router-link tag="div" :to="{name: 'match-view', params: {id: match.id}}">
  <el-card class="match">
    <div class="stage">
      <div>{{ match.stage.Name }}</div>
    </div>
    <div class="match-block">
      <el-row class="block-row">
        <el-col ><div class="team">
          <div class="team-logo"><img :src="match.home_team.logo ? `/images/logo/${match.home_team.logo}` : '/images/logo/unknown.png'" /></div>
          <div class="team-name">{{ match.home_team.Name }}</div>
        </div></el-col>
        <el-col :span="9"><div class="result">
          <b v-if="match.IsCompleted">
            {{ match.HomeTeamGoals }}
            :
            {{ match.GuestTeamGoals }}
          </b>
          <b v-else>
            vs
          </b>
        </div></el-col>
        <el-col ><div class="team">
          <div class="team-logo"><img :src="match.guest_team.logo ? `/images/logo/${match.guest_team.logo}` : '/images/logo/unknown.png'" /></div>
          <div class="team-name">{{ match.guest_team.Name }}</div>
        </div></el-col>
      </el-row>


    </div>

    <div class="d-flex justify-content-between align-items-center">
      <div class="match-date">{{ match.Date | dateTime }}</div>
      <div v-if="match.IsCompleted" class="goTo-match">
        <fr-icon icon="doubleright"/>
      </div>
    </div>
  </el-card>
  </router-link>
</template>
<script>
const Match = {
  name: 'Match',
  props: {
    match: Object,
    showTime: false
  },
  mounted() {
  }
}

export default Match
</script>

<style scoped>

.date {
  width: 150px;
  text-align: center;
}
.block-row {
  display: flex;
  justify-content: space-around;
}
.match-block {
}
.team{
  text-align: center;
  display: grid;
  justify-content: center;
  min-width: 100px;
  justify-items: center;
}
.team-logo {
  width: 85px;
  height: 85px;
  justify-content: center;
  display: flex;
}
.team-logo img{
  height: 100%;
}
.team-name {
  margin-top: 10px;
  font-weight: bold;
}
.result {
  height: 100px;
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.match-date {
  display: inline-block;
  background-color: var(--sidebar-bgc);
  padding: 5px 20px 5px 10px;
  color: #fff;
  border-radius: 0 15px 15px 0;
}

@media screen and (max-width: 500px){
    .team-logo {
      width: 60px;
      height: 60px;
    }
  .result {
    font-size: 20px;
  }
  .team {
    min-width: 80px;
  }
}
</style>
