<template>
	<div id="app" :style="STYLE_VARIABLES">
		<layout/>
	</div>
</template>

<script>
	import Layout from "@/layout";
  import {mapActions, mapGetters} from 'vuex';

	export default {
		name: 'app',
		components: {
			Layout,
		},
		computed: {
      ...mapGetters(['STYLE_VARIABLES', 'role', 'is_authorised'])
		},

		created() {
			this.$store.dispatch('UPDATE_ROUTES').then();
		},
		watch: {
			role() {
				this.$store.dispatch('UPDATE_ROUTES').then();
			}
		},
    methods: {
		  ...mapActions(['getUser'])
    },
    mounted() {
		  if (this.is_authorised) this.getUser()
    }
  }
</script>

<style>
	#app {
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-webkit-transform: translateZ(0);
		color: #2c3e50;
		overflow: hidden;
	}

	body {
		white-space: nowrap;
		margin: 0;
		padding: 0;
	}
</style>
