<template>
  <div id="table">
    <el-card>
      <div class="h4 mb-0">Турниры</div>
    </el-card>
    <el-card>
      <div class="leagues">
        <div v-for="league in leagues" :key="league.id" class="league" >
          <League :league="league" />
        </div>
      </div>
    </el-card>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import League from "@/components/common/League.vue";

export default {
  components: {League},
  props: {
    id: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      defaultProps: {
        children: 'seasons',
        label: 'name'
      }
    }
  },
  computed: {
    ...mapGetters([
      'leagues'
    ])
  },
  mounted() {
    this.getLeagues()
  },
  methods: {
    ...mapActions(['getLeagues']),
  }
}
</script>

<style lang="scss" scoped>
.leagues {
  column-gap: 10px;
  display: flex;
  flex-wrap: wrap;
}
.league {
  width: 400px;
  max-width: 500px;
  margin-bottom: 10px;
  cursor: pointer;
}

</style>
